<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" th:href="@{/component/pear/css/pear.css}" />
</head>
<body>

<div class="layui-card">
	<div class="layui-card-body">
		<table id="user-table" lay-filter="user-table"></table>
	</div>
</div>
<script th:src="@{/component/layui/layui.js}"></script>
<script th:src="@{/component/pear/pear.js}"></script>
<script>
	layui.use(['form','jquery','cardTable'],function () {
		let form = layui.form;
		let $ = layui.jquery;
		let cardTable = layui.cardTable;
		cardTable.render({
			elem: '#user-table',
			linenum: 4, //每行数量 2,3,4,6
			page: true, //是否分页
			url: "/home/copyrightsCard",// 数据 url 连接
		})

	})
</script>
</body>
</html>