<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/component/pear/css/pear.css}" />
</head>
<body>
<div class="mainBox">
    <div class="main-container">
        <input type="hidden" id="data" th:value="${data}">
        <div class="layui-card">
            <div class="layui-card-body">
                <table id="user-table" lay-filter="user-table"></table>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/component/layui/layui.js}"></script>
<script th:src="@{/component/pear/pear.js}"></script>
<script>
layui.use('cardTable', function(){
    let cardTable = layui.cardTable;
    const data = document.getElementById("data").value;
    cardTable.render({
        elem: '#user-table',
        page: false, //是否分页
        url: "/home/copyrightDetail?copyrightID="+data,// 数据 url 连接
    })
})
</script>
<script>
</script>
</body>
</html>
