<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>登录</title>
		<!-- 样 式 文 件 -->
		<link rel="stylesheet" th:href="@{component/pear/css/pear.css}" />
		<link rel="stylesheet" th:href="@{admin/css/other/login.css}" />
	</head>
    <!-- 代 码 结 构 -->
	<body background="admin/images/background.svg" style="background-size: cover;">
		<form class="layui-form" id="loginForm" action="javascript:void(0);">
			<div class="layui-form-item">
				<img class="logo" th:src="@{admin/images/logo.png}" />
				<div class="title">系统登录界面</div>
				<div class="desc"></div>
			</div>
			<div class="layui-form-item">
				<input placeholder="账 户 : 请选择钱包账户 " name="fileName" id="file" lay-verify="required" hover class="layui-input"  />
			</div>
			<div class="layui-form-item">
				<input  type="password" placeholder="密 码 : 请输入账户密码 " name="password" id="password" lay-verify="required" hover class="layui-input"  />
			</div>
			<div class="layui-form-item">
				<input placeholder="验证码 : " hover lay-verify="required" class="code layui-input layui-input-inline"  />
				<img th:src="@{/admin/images/captcha.gif}" class="codeImage" />
			</div>
			<div class="layui-form-item">
				<a href="/register.html" >还未有账号？前往注册</a>
			</div>
			<div class="layui-form-item">
				<button type="button" class="pear-btn pear-btn-success login" lay-submit lay-filter="login">
					登 入
				</button>
			</div>
			<hr>
			<a href="http://1.117.222.245/">仅仅添加水印？点击前往</a>
		</form>
		<!-- 资 源 引 入 -->
		<script th:src="@{component/layui/layui.js}"></script>
		<script th:src="@{component/pear/pear.js}"></script>
		<script>
			layui.use(['form', 'upload','button'], function() {
				let form = layui.form;
				let upload = layui.upload;
				let $ = layui.$;
				let button = layui.button;
				/*上传图片*/
				upload.render({
					elem: '#file'
					, url: '/user/getUserInfo'
					, size: 1024
					, auto: false // 不自动上传
					, exts: 'json'
					, accept: 'file' //允许上传的文件类型
					, bindAction: '#formSubmit'
					, choose: function (obj) {
						// 预读本地文件
						obj.preview(function (index, file, result) {
							$("#file").val(file.name);
						})
					}
					, error: function (index, upload) {
						layer.msg('上传失败！' + index, { icon: 5 });
					}
				});

                // 登 录 提 交
				form.on('submit(login)', function(d) {
					// 加载动画
					button.load({
						elem: '.login',
						time: 1500
					})
					// 登录验证
					let data = new FormData(document.getElementById("loginForm"));
					$.ajax({
						url: '/user/getUserInfo',
						type: 'POST',
						data: data,
						processData: false,
						contentType: false,
						success: function (result) {
							if (result.code === 200) {
								layer.msg("登录成功",{icon:1,time:1000});
								location.href = "index.html"
							} else {
								layer.msg("密码或账号不正确");
							}
						}
					});
					return false;
				});
			})
		</script>
	</body>
</html>
